@import url(https://fonts.googleapis.com/css?family=Radley);
a .planzajec {
  font-size: 36px;
  font-family: Arial;
  color: #6dbd63;
  height: 90px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}
body a{
  color: #000;
  font-weight: 300;
  padding-left: 8px;
}
body a:hover {
  color: #000;
}
.alt div{
  display: inline-block;
  font-size: 8pt;
}
.container {
  font-size: 8pt;
}
.alt {
  width: 100%;
  float: none;
  clear: left;
}
.dzien {
    float: right;
}
.nauczyciel, .sala, .termin, .przedmiot, .typ{
  float: left
}
.header {
  background: #fff;
}
.btn-alt {
  width: 100%;
}
.btn {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  cursor: default;
}
.row {
  margin: 0 auto;
}
.cont a,  .grupy a, .nauczyciele a, .sala a{
  font-size: 18px;
}
.cont a, .grupy, .nauczyciele, .sala{
  text-align: center;
}
.grupy a:hover, .nauczyciele a:hover, .sala a:hover{
  text-decoration: underline;
  text-align: center;
}
@media (max-width: 767px){
.cont a:hover,  .grupy a:hover, .nauczyciele a:hover, .sala a:hover{
  text-decoration: none;
  text-align: center;
}}
td { 
  width: 1800px; 
}
tr {
  min-width: 100%;
}
@media (max-width: 981px){

th { background-color: #f5f5f5; border-color: #ddd; border-style: solid; border-width: 1pt; }
tr.czerwony {color: red }  
td { background-color: #fff; text-align: center; border: 1px solid #ddd; }
td.uwagi {color: green; font-style: italic; }
td.termin {width: 6.5em}
td.dzien {width: 9.5em}
}
.naglowek {
  margin: 0 auto;
  text-align: center;
}
.logo img{
  max-width: 150px;
}
.planzajec a:hover {
  text-decoration: none;
  color: #419641 ;
}
/*
====================
tabela zajecia
====================
*/

@media (max-width: 981px){

.table {
  border: 1px solid #ddd;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  /*border: 1px solid #DDD;*/
  border:none;
      padding: 5px;
}

.table>thead>tr>th {
  border-bottom: none; 
}
.topTable {
  background: #f5f5f5;
  border-bottom: 2px solid #DDD;
}
.footerTable {
  border-top: none;
  border-bottom: 1px solid #DDD;
}
td {
  border-bottom: none;
  background: #fff;
  padding: 4px;
}
.midleTable {
  border-top: none;
  border-bottom: none;
}
.termin, .typPrzedmiot, .sala, .prowadzacy {
  float: left;
}
.odDoGodzina {
  float: right;
}
.typPrzeniesienie {
  background: red;
  float: left;
}
}
.brakUwag {
  visibility: hidden;
}
.uwagiDoPrzedmiotu {
  font-style: italic;
  float: right;
}
.brakSali {
  display: none;
}
.brakWizytowki:hover {
  direction: none;
  text-decoration: none;
}

.brakNauczyciel{
  /*display: none;*/
}


.wizytowka{
  background: url('images/ews.jpg') no-repeat 50% 50%;
  width: 30px;
  height: 20px;
  
}
.wizytowka:hover{
  text-decoration: none;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.grupaSzczegol, .nazwaGrupySali{
  font-size: 26px;
  font-family: Arial;
  color: #6dbd63; 
}
.napisPZ {
  font-size: 36px;
  font-family: Arial;
  color: #6dbd63;
  height: 90px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  margin-left: 5px;
}
.napisPZ:hover {
  text-decoration: none;
  color: #6dbd63;
}


.scrollToTop{
  width:39px; 
  height:39px;
  /*padding:10px; */
  /*text-align:center; */
  background: whiteSmoke;
  /*font-weight: bold;*/
  /*color: #444;*/
  /*text-decoration: none;*/
  position:fixed;
  bottom:75px;
  right:30px;
  display:none;
  background: url('images/btt.png') no-repeat ;
}
.scrollToTop:hover{
  text-decoration:none;
}

h3 {
  /*font-size: 1.5em;*/
    border-top: 1px solid #e0e0e0;
    padding-top: 20px;
    font-weight: 100;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}