
.alt div{
  /*border: 1px solid #000;*/
  display: inline-block;
  font-size: 8pt;
  /*float: left;*/
  
}

.container {
  font-size: 8pt;
}

.alt {
  width: 100%;
  float: none;
  clear: left;
}


.dzien {
    float: right;
}

.nauczyciel, .sala, .termin, .przedmiot, .typ{
  float: left
}

.header {
  background: #fff;
}

.btn-alt {
  width: 100%;
}
.btn {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #000;
  text-transform: uppercase;
  background: darkseagreen;
  color: #fff;
  font-weight: 400;
}

.row {
  margin: 0 auto;
}
  .grupy a, .nauczyciele a, .sala a{
      font-size: 18px;
  }
  .grupy a:hover, .nauczyciele a:hover, .sala a:hover{
      text-decoration: none;
      text-align: center;
  }
.grupy, .nauczyciele, .sala{
  text-align: center;
}

td { 
  width: 800px;
}
tr {
  min-width: 100%;
}